@using PegsBase.Models.Enums;

@model CoordinateUploadViewModel

@{
    ViewData["Title"] = "Preview Coordinate Upload";
}

<h2>Preview Coordinate Pegs</h2>

<form asp-action="ConfirmDatImport" method="post">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Peg Name</th>
                <th>X</th>
                <th>Y</th>
                <th>Z</th>
                <th>Grade Elevation</th>
                <th>Surveyor</th>
                <th>Locality</th>
                <th>Survey Date</th>
                <th>Level</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.PreviewRows.Count; i++)
            {
                <tr>
                    <td>
                        @Model.PreviewRows[i].PegName
                        <input type="hidden" asp-for="PreviewRows[@i].PegName" />
                    </td>
                    <td>
                        @Model.PreviewRows[i].XCoord
                        <input type="hidden" asp-for="PreviewRows[@i].XCoord" />
                    </td>
                    <td>
                        @Model.PreviewRows[i].YCoord
                        <input type="hidden" asp-for="PreviewRows[@i].YCoord" />
                    </td>
                    <td>
                        @Model.PreviewRows[i].ZCoord
                        <input type="hidden" asp-for="PreviewRows[@i].ZCoord" />
                    </td>
                    <td>
                        <input class="form-control" asp-for="PreviewRows[@i].GradeElevation" />
                    </td>

                    <!-- Surveyor Dropdown -->
                    <td>
                        <select class="form-select" asp-for="PreviewRows[@i].SurveyorId" asp-items="ViewBag.Surveyors">
                            <option value="">Select Surveyor</option>
                        </select>
                    </td>

                    <!-- Locality Dropdown -->
                    <td>
                        <select class="form-select" asp-for="PreviewRows[@i].LocalityId" asp-items="ViewBag.Localities">
                            <option value="">Select Locality</option>
                        </select>
                    </td>

                    <!-- Date -->
                    <td>
                        <input class="form-control"
                               name="PreviewRows[@i].SurveyDate"
                               type="date"
                               value="@(Model.PreviewRows[i].SurveyDate?.ToString("yyyy-MM-dd") ?? "")" />
                    </td>

                    <!-- Level Dropdown -->
                    <td>
                        <select class="form-select" asp-for="PreviewRows[@i].LevelId" asp-items="ViewBag.Levels">
                            <option value="">-- Select Level --</option>
                        </select>
                    </td>

                    <!-- Point Type Dropdown -->
                    <td>
                        <select class="form-select"
                                asp-for="PreviewRows[@i].Type"
                                asp-items="Html.GetEnumSelectList<SurveyPointType>()">
                            <option value="">-- Select Type --</option>
                        </select>
                    </td>
                </tr>
            }

        </tbody>
    </table>

    @if (!string.IsNullOrEmpty(Model.RedirectAfterSaveUrl))
    {
        <input type="hidden" asp-for="RedirectAfterSaveUrl" />
    }

    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-success">Save Pegs to Database</button>
        </div>
        <div class="col-md-6 text-end">
            <a asp-controller="PegRegister" asp-action="Index" class="btn btn-danger">Cancel</a>
        </div>
    </div>
</form>

