@using Newtonsoft.Json;

@model List<PegsBase.Models.PegRegisterImportModel>

<h2>Preview Pegs</h2>

<form asp-action="ConfirmImport" method="post">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Peg Name</th>
                <th>Level</th>
                <th>Locality</th>
                <th>Y</th>
                <th>X</th>
                <th>Z</th>
                <th>Grade</th>
                <th>Surveyor</th>
                <th>Survey Date</th>
                <th>Point Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var peg in Model)
            {
                <tr>
                    <td>@peg.PegName</td>
                    <td>@peg.LevelName</td> <!-- No .Level?.Name -->
                    <td>@peg.LocalityName</td> <!-- No .Locality?.Name -->
                    <td>@peg.YCoord.ToString("F3")</td>
                    <td>@peg.XCoord.ToString("F3")</td>
                    <td>@peg.ZCoord.ToString("F3")</td>
                    <td>@peg.GradeElevation</td>
                    <td>@(peg.SurveyorName ?? "-")</td> <!-- No .Surveyor?.DisplayName -->
                    <td>@peg.SurveyDate?.ToString("yyyy/MM/dd")</td>
                    <td>@peg.PointType</td>
                </tr>

            }
        </tbody>
    </table>

    <input type="hidden" name="pegs" value='@Html.Raw(JsonConvert.SerializeObject(Model))' />
    <button class="btn btn-success" type="submit">Confirm and Save</button>
</form>

